body
{
    color: blue;
    text-align: center;
    font-family: "times";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #33A;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em
}
#container
{
    width: 70%;
    padding: 1cm;
    border: 1px solid #ddd;
    margin: auto;
}

#container h1
{
    font-size: 20px;
}